<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Cloud-based Web Applications</title>

</head>

<body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <div class="container">
    <h1 style="text-align:center;"><B>COMMENTS</B></h1>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
    <a class="navbar-brand" href="/">HOME</a>
    
    <a class="navbar-brand" href="/comments">COMMENTS</a>
    
    <a class="navbar-brand" href="/issues">ISSUES</a>
    
    <a class="navbar-brand" href="/projects">PROJECTS</a>
    
    <a class="navbar-brand" href="/users">USERS</a>
    
  </nav>

  <hr style="height:2px;border:none;color:#333;background-color:#333;" />

  <ul>
    <% comments.forEach(function(comment){ %>
        <strong><li><%=comment.text %></strong>
        <ul>
            <% Object.keys(comment).forEach(function(key){ %>
            <li><strong><%= key %></strong>:<%= comment[key] %></li>
        <% }); %>
        </ul>
    </li>
    <% }); %>
  </ul>
</body>

</html>